/* Login Page */
.container {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
  background-color: aliceblue;
  width: 500px;
  height:650px;
  display:flexbox;
  flex-direction:column;
  justify-self: center;
  transform: translateY(25px);
  border: 6px solid rgb(193, 210, 238);
  border-radius: 30px;
  justify-items: center;
  
}

.container .LandingButton {
  color:rgb(193, 210, 238);
  font-size: 20px;
  background-color: white;
  width: 220px;
  height:70px;
  display:flex;
  border-radius:20px;
  transform: translateY(150px);
  border: 3px solid rgb(193, 210, 238);
  justify-content: center;
  align-items: center;
}

.container img {
    max-height:500px;
    max-width: 500px;
}