/* Login Page */
.page{
  padding:0px;
}

.login-container {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}

.login-container #loginButton {
  margin-top: 50px;
  height: 70px;
  width: 200px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgba(177, 198, 234, 1);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
}

.login-container .logo-square {
  position:static;
  height: 300px;
  width: 350px;
  background-color:rgba(228, 241, 249, 1);
  display:flex;
  justify-content: center;
  border-radius: 10px;
}

.login-container .logo-square .logo-img {
  max-height:500px;
  max-width: 500px;
  z-index: 2;
}