
/* Components */
/* 1. Photo Slides */
.photo-slides {
  display: flex;
  flex-flow: row;
  justify-content:space-around;
  width:100%;
}
.photo-slides .photo {
  width:150px;
  height:150px;
  background-color: rgb(223, 220, 220);
  border-radius: 10px;
}


/* Photo Gallery Page */
.gallery{
  max-width:800px;
  min-width: 650px;
  margin: 0 auto;
}
.gallery a {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight:20;
  font-size: 40px;
  font-optical-sizing: auto;
  align-self:flex-start;
  padding: 30px 2px 30px 5%;
}

.gallery a:hover{
  text-decoration: underline;
}

/* Photo Album: Shows the full album of a specific hashtag*/
.photo-album{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 100px;
  row-gap:70px;
  width:90vw;
}

.photo-album .photo {
  height: 240px;
  width: 220px;
  background-color: rgb(223, 220, 220);
  border-radius: 20px;
}

.photo-album .photo .photo-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

#album-title {
  font-size: 45px;
}
