
/* Profile Page */
.profile-container {
  width: 90vw;
  flex-flow: column;
  justify-content: center;
  height: 600px;
}
.profile-container .name {
  margin:0;
  font-size: 35px;
}
.profile-container img{
  height:180px;
}
.profile-container button{
  height:90px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 50px;
  transition-duration: 10s;
}

.profile-container h1 {
  font-size: 30px;
}
