.container {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding-bottom: 50px;
    height: 700px;
    width:600px;
    border-radius: 50px;
    align-items:center;
    justify-content:center;
}
.container #descBox {
    width: 450px;
    height: 200px;
    display:flex;
    justify-items:start;
}
.container #uploadBtn {
   transform: translateY(180px);
   height: 45px;
    width:300px;
}
.container #titleInput {
    transform: translateX(-15px);
    transform: translateY(-40px);
    height: 40px;
    width:300px;
}
.container #titleLabel {
    transform: translateY(-100px);
    color: black;
}

.container #resetBtn {
   transform: translateY(180px);
   height: 45px;
width:300px;
}


.container #drop-zone-file{
    display:flex;
    justify-self:right;
}