.container {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding-bottom: 6vh;
    height: 80vh;
    width: 90vw;
    max-width: 600px;
    border-radius: 3vw;
    align-items:center;
    justify-content:center;
}
.container #descBox {
  width: 70vw;            
  max-width: 450px;
  height: 28vh;            
  max-height: 200px;
  display: flex;
  justify-items: start;
}
.container #uploadBtn {
  transform: translateY(25vh);
  height: 6vh;                 
  width: 50vw;                 
  max-width: 300px;
}
.container #titleInput {
  transform: translateY(-6vh); 
  height: 5vh;                 
  width: 50vw;                 
  max-width: 300px;
}
.container #titleLabel {
  transform: translateY(-14vh); 
  color: black;
}

.container #resetBtn {
   transform: translateY(180px);
   height: 45px;
   width:300px;
}


.container #drop-zone-file{
  display: flex;
  justify-self: right;
}